 @media(max-width:768px) {
     body{
         width: 100vw;
     }
     .klasa{
    font-size: 40px !important;
    display: block;
    }
    .form-control{
        padding-bottom: 15px !important ;
        font-size: 40px;
    }
    .btn-outline-success{
        background-color: green;
        color: aliceblue;
    }
    .titleClass{
        font-size: 35px;
        text-align: center;
    }
    .d-flex{
        flex-direction: column;
    }
    .btn-dark{
        font-size: 20px;
    }
    .btn-danger{
        font-size: 20px;
    }
}
    

/* potrzebuje:
-768px
-480px  */
